<mat-toolbar class="header-toolbar">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-title">Agence de Location </span>
  <span class="header-spacer"></span>
  <mat-divider class="vertical-divider" vertical></mat-divider>
  <button class="menu-btn" mat-button routerLink="/">Home</button>
  <mat-divider class="vertical-divider" vertical></mat-divider>
  <button class="menu-btn" mat-button routerLink="/residences">Residences</button>
  <mat-divider class="vertical-divider" vertical></mat-divider>
  <button class="menu-btn" mat-button routerLink="/apartments">Apartments</button>
  <mat-divider class="vertical-divider" vertical></mat-divider>
  
  <button class="menu-btn" mat-button routerLink="/apartments">Favoris</button>
</mat-toolbar>
