<mat-card class="mat-card">
    <mat-card-title> Name </mat-card-title>
  
    <mat-card-content> 
      <p>Apartment by residence to be done</p> 
      <p>Apartment by residence to be done</p> 
      <p>Apartment by residence to be done</p> 
      <p>Apartment by residence to be done</p> 
      <p>Apartment by residence to be done</p> 
      <p>Apartment by residence to be done</p> 
      <p>Apartment by residence to be done</p> 
      <p>Apartment by residence to be done</p> 
      <p>Apartment by residence to be done</p> 
      <p>Apartment by residence to be done</p> 
      <p>Apartment by residence to be done</p> 
      <p>Apartment by residence to be done</p> 
      <p>Apartment by residence to be done</p> 
      <p>Apartment by residence to be done</p> 
      <p>Apartment by residence to be done</p> 
      <p>Apartment by residence to be done</p> 
      <p>Apartment by residence to be done</p> 
      <p>Apartment by residence to be done</p> 
      <p>Apartment by residence to be done</p> 
      <p>Apartment by residence to be done</p> 
      <p>Apartment by residence to be done</p> 
      <p>Apartment by residence to be done</p> 
      <p>Apartment by residence to be done</p> 
    
      <!-- <button mat-raised-button class="btn" [routerLink]="" >Next</button> -->
  </mat-card-content>
  </mat-card>

  <mat-card class="mat-card-btn">
    <button mat-raised-button class="btn"  >Add New Apartment</button>
  </mat-card>
