.mat-card {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
  }

.mat-card-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 30%;
  }
  
  
  
  
  
  
  