<mat-card class="mat-card">
  <mat-card-header>
    <mat-card-title>
      Liste des Favoris :<mat-divider></mat-divider>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">
          {{ element.id }}
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          <em class="em-name">{{ element.name }}</em>
        </td>
      </ng-container>
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let element">
          <img
            src="{{ element.image }}"
            alt="image residence"
            class="img-residence"
          />
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          <div [ngSwitch]="element.status">
            <div *ngSwitchCase="'Disponible'">
              <mat-icon
                aria-hidden="false"
                aria-label="Disponible"
                fontIcon="done_outline"
                matTooltip="Disponible"
              >
              </mat-icon>
            </div>
            <div *ngSwitchCase="'En Construction'">
              <mat-icon
                aria-hidden="false"
                aria-label="En Construction"
                fontIcon="construction"
                matTooltip="En cours de construction"
              >
              </mat-icon>
            </div>
            <div *ngSwitchCase="'Vendu'">
              <mat-icon
                aria-hidden="false"
                aria-label="Vendu"
                fontIcon="do_not_disturb_alt"
                matTooltip="Vendu"
                matTooltipPosition="above"
              >
              </mat-icon>
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
