<mat-card class="mat-card">
  <mat-card-title> Name </mat-card-title>

  <mat-card-content> 
    <p>Details to be done</p> 
    <p>Details to be done</p> 
    <p>Details to be done</p> 
    <p>Details to be done</p> 
    <p>Details to be done</p> 
    <p>Details to be done</p> 
    <p>Details to be done</p> 
    <p>Details to be done</p> 
    <p>Details to be done</p> 
    <p>Details to be done</p> 
    <p>Details to be done</p> 
    <p>Details to be done</p> 
    <button mat-raised-button class="btn" [routerLink]="['/residences', 1 + 1]" >Next</button>
</mat-card-content>
</mat-card>
