.mat-card {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.btn-favoris {
  cursor: pointer;  
  float: right;
}

mat-card-title {
  margin-bottom: 40px;
}

.search {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
}


.table {
margin-top: 30px;
}


.img-residence {
  width: 150px;
  height: 150px;
  margin: 40px;
}

.icone {
  width: 60px;
  height: 60px;
  margin: 40px;
}

.btn {
    margin-right: 10px;
}

.input {
  width: 50%;
}

.em-name {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 600;
}
